.overview {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  background: linear-gradient(rgb(255, 248, 248), #FFFFFF);

  .text__blockName {
    text-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px;
    font-size: 32px;
  }

  .text__titleName {
    text-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px;
    font-size: 52px;
    line-height: 70%;
  }
}

@media (max-width: 900px) {
  .overview {
    padding: 0;
    text-align: center;
    flex-wrap: wrap;

    img {
      width: 100%;
    }
  }
}