include ../../components/text__titleName/text__titleName
include ../../components/text__blockName/text__blockName
include ../../components/text__desc/text__desc

div.text
    +text__blockName("COVID-19 Alert")
    +text__titleName("Stay at Home quarantine")
    +text__titleName("To stop Corona virus")
    +text__desc("There is no specific medicine to prevent or treat coronavirus disease (COVID-19). People may need supportive care to.")
img(src="./img/Illustration%2001.png" width="50%")