div.hamburger-menu
    img(src="./img/brand.png" alt="COVID-19" width="")
    input(id="menu__toggle" type="checkbox")
    label(class="" for="menu__toggle").menu__btn
        span
    ul.menu__box
        li
            a(href="#overview").header__link.menu__item Overview
        li
            a(href="#contagion").header__link.menu__item Contagion
        li
            a(href="#symptoms").header__link.menu__item Symptoms
        li
            a(href="#prevention").header__link.menu__item Prevention
        li
            a(href="#contact").header__link.header__link--border.menu__item Contact