.hamburger-menu {
  display: none;
  padding-left: 5%;
}

#menu__toggle {
  opacity: 0;
  display: none;

  &:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  &:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  &:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  &:checked ~ .menu__box {
    padding: 20px 0;
    height: 235px;
  }
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30px;
  right: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;

  & > span,
  & > span::before,
  & > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #616161;

    transition-duration: .25s;
  }
  & > span::before {
    content: '';
    top: -8px;
  }
  & > span::after {
    content: '';
    top: 8px;
  }

}

.menu__box {
  display:block;
  overflow: hidden;

  width: 100%;
  height: 0px;

  margin: 0;

  list-style: none;

  background-color: rgb(255, 248, 248);

  transition-property: height, padding;
  transition-duration: .5s;
}

.menu__item {
  display: block;
  text-align: center;
  padding: 12px 0;

  transition-duration: .25s;
}