.header {
  padding-top: 11px;
  padding-bottom: 10px;
  background: rgb(255, 248, 248);
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10%;
}

.header__links {
  display: flex;
  justify-self: flex-end;
  font-size: 18px;
  list-style: none;

  li {
    padding: 0px 10px;
  }
}

.header__link {
  color: rgb(3, 87, 85);
  text-decoration: none;

  &--border {
    color: rgb(255, 56, 61);
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(255, 56, 61);
    padding: 10px 30px;

    &:hover {
      color: rgb(255, 248, 248);
      background: rgb(255, 56, 61);
      transition: color 0s ease 0s, background-color 0.2s ease 0s;
    }
  }
}

@media(max-width: 1024px) {
  .hamburger-menu {
    display: block;
  }
  .header__nav {
    display: none;
  }
}