header(class="header")
    nav(class="header__nav")
        img(src="./img/brand.png" alt="COVID-19" width="")
        ul(class="header__links")
            li
                a(class="header__link" href="#overview") Overview
            li
                a(class="header__link" href="#contagion") Contagion
            li
                a(class="header__link" href="#symptoms") Symptoms
            li
                a(class="header__link" href="#prevention") Prevention
            li
                a(class="header__link header__link--border" href="#contact") Contact
    include ../hamburger-menu/hamburger-menu
