.whatToDo {

  &__text {
    height: fit-content;
    display: flex;
    align-self: center;

    img {
      align-self: start;
      padding-right: 40px;
    }
  }
}

@media (max-width: 900px) {
  .whatToDo__img{
    img{
      width: 100%;
    }
  }
}