include ../../components/whatToDo__step/whatToDo__step



div.text
    div.text__blockName Covid-19
    div.text__titleName What Should We Do?
    div.text__desc Corona viruses are a type of virus. There are many different kinds, and some cause disease. A newly identified type has caused a recent outbreak of respiratory

+step("img/01.png", "Wear Masks",
    "Continually seize impactful vortals rather than future-proof supply chains. Uniquely exploit emerging niches via fully tested meta-services. Competently pursue standards compliant leadership skills vis-a-vis pandemic \"outside the box\" thinking. Objectively",
    "img/maskGirl.png")
+step("img/02.png", "Wash Your Hands",
    "Continually seize impactful vortals rather than future-proof supply chains. Uniquely exploit emerging niches via fully tested meta-services. Competently pursue standards compliant leadership skills vis-a-vis pandemic \"outside the box\" thinking. Objectively Continually seize impactful vortals",
    "img/washHands.png")
+step("img/03.png", "Use Nose - Rag",
    "Continually seize impactful vortals rather than future-proof supply chains. Uniquely exploit emerging niches via fully tested meta-services. Competently pursue standards compliant leadership skills vis-a-vis pandemic \"outside the box\" thinking. Objectively Continually seize impactful vortals",
    "img/useRags.png")
+step("img/04.png", "Avoid Contacts",
    "Continually seize impactful vortals rather than future-proof supply chains. Uniquely exploit emerging niches via fully tested meta-services. Competently pursue standards compliant leadership skills vis-a-vis pandemic",
    "img/avoidContacts.png")