include ../../components/cards__card/cards__card

+cards__card("img/air.png", "Air Transmission", "Objectively evolve tactical expertise before extensible initiatives." +
" Efficiently simplify")
+cards__card("img/humcontact.png", "Human Contacts", "Washing your hands is one of the simplest ways you can protect")
+cards__card("img/objects.png", "Containted Objects", "Use the tissue while sneezing,In this way, you can protect" +
" your droplets.")