include ../../components/text__titleName/text__titleName
include ../../components/text__blockName/text__blockName
include ../../components/text__desc/text__desc

img(src="./img/about.png")
div.text
    +text__blockName("What is Covid-19")
    +text__titleName("Coronavirus")
    +text__desc("Corona viruses are a type of virus. There are many different kinds, and some cause disease." +
    "A newly identified type has caused a recent outbreak of respiratory illness now called COVID-19.Lauren Sauer, " +
    "M.S., the director of operations with the Johns Hopkins Office of Critical Event Preparedness and Response")
