.about-us {
  display: flex;
  padding-right: 10%;

  img {
    width: 50%;
  }

  .text__blockName {
    font-size: 29px;
  }

  .text__titleName {
    font-size: 50px;
    line-height: 70%;
  }

  .text__desc {
    font-size: 20px;
    line-height: 2;
  }
}

@media (max-width: 900px) {
  .about-us {
    padding: 50px 10% 0 10%;
    flex-wrap: wrap;
    text-align: center;

    img {
      width: 100%;
    }

    .text {
      order: -1;
    }
  }
}