.map {
  background: linear-gradient(#FFFFFF,#FFF8F8);
  padding: 20px 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    width: 70%;
    height: min-content;
    padding-right: 50px;
  }
}

.carousel {
  width: 400px;
  height: 500px;
  padding: 50px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: rgb(3, 87, 85);
  font-weight: 700;
  font-size: 31px;

  .title {
    font-size: 48px;
    display: flex;
    justify-content: space-between;

    &__nav {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      display: flex;

      .divider {
        font-size: 20px;
        align-self: center;
        padding-top: 8px;
      }

      button {
        border: none;
        background: none;
        color: rgb(250, 86, 82);
      }
    }
  }

  &__page {
    padding-top: 20px;
    min-width: 400px;
    height: 500px;
  }
}

@media(max-width: 1024px){
  .map {
    flex-wrap: wrap;
    img {
      margin: 40px 0;
    }
  }
}

@media (max-width: 500px) {
  .carousel {
    width: 100%;
    height: 600px;
    padding: 4px;
    &__page{
      min-width: 100%;
      height: 500px;
    }
  }
  .country {
    flex-wrap: wrap;
  }
}
