include ../../components/carousel__country/carousel__country

img(src="img/map.png")

div.carousel
    div.title
        |Live Reports
        div.title__nav
            div.divider |
    div.owl-carousel.owl-theme
        div.carousel__page
            +country("#usa", "USA", "100,392", "#up")
            +country("#italy", "Italy", "86,498", "#up")
            +country("#china", "China", "81,340", "#down")
            +country("#spain", "Spain", "64,059", "#up")
            +country("#germany", "Germany", "50,871", "#up")
            +country("#iran", "Iran", "32,332", "#up")
        div.carousel__page
            +country("#usa", "USA", "100,392", "#up")
            +country("#italy", "Italy", "86,498", "#up")
            +country("#china", "China", "81,340", "#down")
            +country("#spain", "Spain", "64,059", "#up")
            +country("#germany", "Germany", "50,871", "#up")
            +country("#iran", "Iran", "32,332", "#up")