extends layouts/default
include helpers/mixins

block variables
	- const title = "COVID-19"

block content
	include ../blocks/modules/header/header

	section(id="overview").overview
		include ../blocks/modules/overview/overview
	section.about-us
		include ../blocks/modules/about-us/about-us
	section(id="contagion").contagion
		include ../blocks/modules/contagion/contagion
	section(id="symptoms").symptoms
		include ../blocks/modules/symptoms/symptoms
	section(id="prevention").whatToDo
		include ../blocks/modules/whatToDo/whatToDo
	section.map
		include ../blocks/modules/carousel/carousel
	section(id="contact").contact
		include ../blocks/modules/contact/contact

	include ../blocks/modules/footer/footer

	<svg style="display: none">
		<svg id="italy" width="49" height="35" viewBox="0 0 49 35" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect x="0.336538" y="0.336538" width="48.3269" height="34.3269" rx="2.35577" fill="white" stroke="#F5F5F5" stroke-width="0.673077"/>
			<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="49" height="35">
			<rect x="0.336538" y="0.336538" width="48.3269" height="34.3269" rx="2.35577" fill="white" stroke="white" stroke-width="0.673077"/>
			</mask>
			<g mask="url(#mask0)">
			<rect x="32.6672" width="16.3333" height="35" fill="#E43D4C"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M0 35H16.3333V0H0V35Z" fill="#1BB65D"/>
			</g>
		</svg>
		<svg id="usa" width="49" height="35" viewBox="0 0 49 35" fill="none" xmlns="http://www.w3.org/2000/svg">
		<rect width="49" height="35" rx="2.69231" fill="white"/>
		<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="49" height="35">
		<rect width="49" height="35" rx="2.69231" fill="white"/>
		</mask>
		<g mask="url(#mask0)">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M49 0H0V2.33333H49V0ZM49 4.66684H0V7.00018H49V4.66684ZM0 9.33303H49V11.6664H0V9.33303ZM49 13.9999H0V16.3332H49V13.9999ZM0 18.6667H49V21H0V18.6667ZM49 23.3336H0V25.6669H49V23.3336ZM0 27.9997H49V30.3331H0V27.9997ZM49 32.6666H0V34.9999H49V32.6666Z" fill="#D02F44"/>
		<rect width="21" height="16.3333" fill="#46467F"/>
		<g filter="url(#filter0_d)">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M9.33233 3.50016C9.33233 4.14449 8.80999 4.66683 8.16566 4.66683C7.52133 4.66683 6.99899 4.14449 6.99899 3.50016C6.99899 2.85583 7.52133 2.3335 8.16566 2.3335C8.80999 2.3335 9.33233 2.85583 9.33233 3.50016ZM4.66594 3.50024C4.66594 4.14457 4.1436 4.6669 3.49927 4.6669C2.85494 4.6669 2.3326 4.14457 2.3326 3.50024C2.3326 2.85591 2.85494 2.33357 3.49927 2.33357C4.1436 2.33357 4.66594 2.85591 4.66594 3.50024ZM12.8325 4.66683C13.4768 4.66683 13.9992 4.14449 13.9992 3.50016C13.9992 2.85583 13.4768 2.3335 12.8325 2.3335C12.1882 2.3335 11.6658 2.85583 11.6658 3.50016C11.6658 4.14449 12.1882 4.66683 12.8325 4.66683ZM18.666 3.50016C18.666 4.14449 18.1437 4.66683 17.4993 4.66683C16.855 4.66683 16.3327 4.14449 16.3327 3.50016C16.3327 2.85583 16.855 2.3335 17.4993 2.3335C18.1437 2.3335 18.666 2.85583 18.666 3.50016ZM5.83093 7.00025C6.47526 7.00025 6.99759 6.47792 6.99759 5.83358C6.99759 5.18925 6.47526 4.66692 5.83093 4.66692C5.18659 4.66692 4.66426 5.18925 4.66426 5.83358C4.66426 6.47792 5.18659 7.00025 5.83093 7.00025ZM11.6644 5.83358C11.6644 6.47792 11.1421 7.00025 10.4978 7.00025C9.85344 7.00025 9.3311 6.47792 9.3311 5.83358C9.3311 5.18925 9.85344 4.66692 10.4978 4.66692C11.1421 4.66692 11.6644 5.18925 11.6644 5.83358ZM15.1646 7.00025C15.8089 7.00025 16.3313 6.47792 16.3313 5.83358C16.3313 5.18925 15.8089 4.66692 15.1646 4.66692C14.5203 4.66692 13.9979 5.18925 13.9979 5.83358C13.9979 6.47792 14.5203 7.00025 15.1646 7.00025ZM18.666 8.167C18.666 8.81134 18.1437 9.33367 17.4993 9.33367C16.855 9.33367 16.3327 8.81134 16.3327 8.167C16.3327 7.52267 16.855 7.00034 17.4993 7.00034C18.1437 7.00034 18.666 7.52267 18.666 8.167ZM12.8325 9.33367C13.4768 9.33367 13.9992 8.81134 13.9992 8.167C13.9992 7.52267 13.4768 7.00034 12.8325 7.00034C12.1882 7.00034 11.6658 7.52267 11.6658 8.167C11.6658 8.81134 12.1882 9.33367 12.8325 9.33367ZM9.33233 8.167C9.33233 8.81134 8.80999 9.33367 8.16566 9.33367C7.52133 9.33367 6.99899 8.81134 6.99899 8.167C6.99899 7.52267 7.52133 7.00034 8.16566 7.00034C8.80999 7.00034 9.33233 7.52267 9.33233 8.167ZM3.49882 9.33367C4.14315 9.33367 4.66549 8.81134 4.66549 8.167C4.66549 7.52267 4.14315 7.00034 3.49882 7.00034C2.85449 7.00034 2.33215 7.52267 2.33215 8.167C2.33215 8.81134 2.85449 9.33367 3.49882 9.33367ZM6.99759 10.5004C6.99759 11.1448 6.47526 11.6671 5.83093 11.6671C5.18659 11.6671 4.66426 11.1448 4.66426 10.5004C4.66426 9.85609 5.18659 9.33376 5.83093 9.33376C6.47526 9.33376 6.99759 9.85609 6.99759 10.5004ZM10.4978 11.6671C11.1421 11.6671 11.6644 11.1448 11.6644 10.5004C11.6644 9.85609 11.1421 9.33376 10.4978 9.33376C9.85344 9.33376 9.3311 9.85609 9.3311 10.5004C9.3311 11.1448 9.85344 11.6671 10.4978 11.6671ZM16.3313 10.5004C16.3313 11.1448 15.8089 11.6671 15.1646 11.6671C14.5203 11.6671 13.9979 11.1448 13.9979 10.5004C13.9979 9.85609 14.5203 9.33376 15.1646 9.33376C15.8089 9.33376 16.3313 9.85609 16.3313 10.5004ZM17.4993 13.9999C18.1437 13.9999 18.666 13.4775 18.666 12.8332C18.666 12.1889 18.1437 11.6665 17.4993 11.6665C16.855 11.6665 16.3327 12.1889 16.3327 12.8332C16.3327 13.4775 16.855 13.9999 17.4993 13.9999ZM13.9992 12.8332C13.9992 13.4775 13.4768 13.9999 12.8325 13.9999C12.1882 13.9999 11.6658 13.4775 11.6658 12.8332C11.6658 12.1889 12.1882 11.6665 12.8325 11.6665C13.4768 11.6665 13.9992 12.1889 13.9992 12.8332ZM8.16566 13.9999C8.80999 13.9999 9.33233 13.4775 9.33233 12.8332C9.33233 12.1889 8.80999 11.6665 8.16566 11.6665C7.52133 11.6665 6.99899 12.1889 6.99899 12.8332C6.99899 13.4775 7.52133 13.9999 8.16566 13.9999ZM4.66549 12.8332C4.66549 13.4775 4.14315 13.9999 3.49882 13.9999C2.85449 13.9999 2.33215 13.4775 2.33215 12.8332C2.33215 12.1889 2.85449 11.6665 3.49882 11.6665C4.14315 11.6665 4.66549 12.1889 4.66549 12.8332Z" fill="url(#paint0_linear)"/>
		</g>
		</g>
		<defs>
		<filter id="filter0_d" x="2.33215" y="2.3335" width="16.3339" height="13.0125" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
		<feFlood flood-opacity="0" result="BackgroundImageFix"/>
		<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
		<feOffset dy="1.34615"/>
		<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.06 0"/>
		<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
		<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
		</filter>
		<linearGradient id="paint0_linear" x1="2.33215" y1="2.3335" x2="2.33215" y2="13.9999" gradientUnits="userSpaceOnUse">
		<stop stop-color="white"/>
		<stop offset="1" stop-color="#F0F0F0"/>
		</linearGradient>
		</defs>
		</svg>
		<svg id="china" width="49" height="35" viewBox="0 0 49 35" fill="none" xmlns="http://www.w3.org/2000/svg">
		<rect width="49" height="35" rx="2.64865" fill="white"/>
		<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="49" height="35">
		<rect width="49" height="35" rx="2.64865" fill="white"/>
		</mask>
		<g mask="url(#mask0)">
		<rect width="49" height="35" fill="#F1361D"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M17.6337 10.4249L19.3284 10.7138L20.5995 11.8714L20.8885 10.1766L22.0461 8.90554L20.3513 8.6166L19.0802 7.45898L18.7913 9.15376L17.6337 10.4249ZM22.1695 16.3525L23.6381 15.4587L25.3569 15.4984L24.4631 14.0298L24.5029 12.3111L23.0342 13.2049L21.3155 13.1651L22.2093 14.6337L22.1695 16.3525ZM20.1804 25.9478L18.7439 26.8923L18.7236 25.1732L17.7791 23.7367L19.4982 23.7164L20.9347 22.7719L20.955 24.491L21.8995 25.9275L20.1804 25.9478ZM21.4266 21.5031L23.1354 21.3137L24.6763 22.0761L24.4869 20.3673L25.2493 18.8264L23.5405 19.0158L21.9996 18.2534L22.189 19.9621L21.4266 21.5031Z" fill="#FFDC42"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M11.666 19.3965L7.55152 22.3296L9.06963 17.5101L5.00862 14.5034L10.0614 14.4579L11.666 9.6665L13.2707 14.4579L18.3234 14.5034L14.2624 17.5101L15.7805 22.3296L11.666 19.3965Z" fill="#FFDC42"/>
		</g>
		</svg>
		<svg id="germany" width="49" height="35" viewBox="0 0 49 35" fill="none" xmlns="http://www.w3.org/2000/svg">
		<rect width="49" height="35" rx="2.69231" fill="white"/>
		<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="49" height="35">
		<rect width="49" height="35" rx="2.69231" fill="white"/>
		</mask>
		<g mask="url(#mask0)">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M0 11.6667H49V0H0V11.6667Z" fill="#262626"/>
		<g filter="url(#filter0_d)">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M0 23.3332H49V11.6665H0V23.3332Z" fill="#F01515"/>
		</g>
		<g filter="url(#filter1_d)">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M0 35.0002H49V23.3335H0V35.0002Z" fill="#FFD521"/>
		</g>
		</g>
		<defs>
		<filter id="filter0_d" x="0" y="11.6665" width="49" height="11.6667" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
		<feFlood flood-opacity="0" result="BackgroundImageFix"/>
		<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
		<feOffset/>
		<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.06 0"/>
		<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
		<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
		</filter>
		<filter id="filter1_d" x="0" y="23.3335" width="49" height="11.6667" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
		<feFlood flood-opacity="0" result="BackgroundImageFix"/>
		<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
		<feOffset/>
		<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.06 0"/>
		<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
		<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
		</filter>
		</defs>
		</svg>
		<svg id="iran" width="49" height="35" viewBox="0 0 49 35" fill="none" xmlns="http://www.w3.org/2000/svg">
		<rect x="0.336538" y="0.336538" width="48.3269" height="34.3269" rx="2.35577" fill="white" stroke="#F5F5F5" stroke-width="0.673077"/>
		<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="49" height="35">
		<rect x="0.336538" y="0.336538" width="48.3269" height="34.3269" rx="2.35577" fill="white" stroke="white" stroke-width="0.673077"/>
		</mask>
		<g mask="url(#mask0)">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M0 11.6667H49V0H0V11.6667Z" fill="#38BB56"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M0 35.0002H49V23.3335H0V35.0002Z" fill="#DE1B27"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M2.78087 9.33301C2.53305 9.33301 2.33215 9.53391 2.33215 9.78173V11.2176C2.33215 11.4654 2.53305 11.6663 2.78087 11.6663H4.21677C4.46459 11.6663 4.66549 11.4654 4.66549 11.2176V9.78173C4.66549 9.53391 4.46459 9.33301 4.21677 9.33301H2.78087ZM7.44771 9.33301C7.19989 9.33301 6.99899 9.53391 6.99899 9.78173V11.2176C6.99899 11.4654 7.19989 11.6663 7.44771 11.6663H8.88361C9.13143 11.6663 9.33233 11.4654 9.33233 11.2176V9.78173C9.33233 9.53391 9.13143 9.33301 8.88361 9.33301H7.44771ZM11.6658 9.78173C11.6658 9.53391 11.8667 9.33301 12.1146 9.33301H13.5505C13.7983 9.33301 13.9992 9.53391 13.9992 9.78173V11.2176C13.9992 11.4654 13.7983 11.6663 13.5505 11.6663H12.1146C11.8667 11.6663 11.6658 11.4654 11.6658 11.2176V9.78173ZM16.7814 9.33301C16.5336 9.33301 16.3327 9.53391 16.3327 9.78173V11.2176C16.3327 11.4654 16.5336 11.6663 16.7814 11.6663H18.2173C18.4651 11.6663 18.666 11.4654 18.666 11.2176V9.78173C18.666 9.53391 18.4651 9.33301 18.2173 9.33301H16.7814ZM20.9995 9.78173C20.9995 9.53391 21.2004 9.33301 21.4482 9.33301H22.8841C23.132 9.33301 23.3329 9.53391 23.3329 9.78173V11.2176C23.3329 11.4654 23.132 11.6663 22.8841 11.6663H21.4482C21.2004 11.6663 20.9995 11.4654 20.9995 11.2176V9.78173ZM26.1151 9.33301C25.8673 9.33301 25.6664 9.53391 25.6664 9.78173V11.2176C25.6664 11.4654 25.8673 11.6663 26.1151 11.6663H27.551C27.7988 11.6663 27.9997 11.4654 27.9997 11.2176V9.78173C27.9997 9.53391 27.7988 9.33301 27.551 9.33301H26.1151ZM30.3332 9.78173C30.3332 9.53391 30.5341 9.33301 30.7819 9.33301H32.2178C32.4656 9.33301 32.6665 9.53391 32.6665 9.78173V11.2176C32.6665 11.4654 32.4656 11.6663 32.2178 11.6663H30.7819C30.5341 11.6663 30.3332 11.4654 30.3332 11.2176V9.78173ZM35.4488 9.33301C35.2009 9.33301 35 9.53391 35 9.78173V11.2176C35 11.4654 35.2009 11.6663 35.4488 11.6663H36.8847C37.1325 11.6663 37.3334 11.4654 37.3334 11.2176V9.78173C37.3334 9.53391 37.1325 9.33301 36.8847 9.33301H35.4488ZM39.6643 9.78173C39.6643 9.53391 39.8652 9.33301 40.113 9.33301H41.5489C41.7967 9.33301 41.9976 9.53391 41.9976 9.78173V11.2176C41.9976 11.4654 41.7967 11.6663 41.5489 11.6663H40.113C39.8652 11.6663 39.6643 11.4654 39.6643 11.2176V9.78173ZM44.7798 9.33301C44.532 9.33301 44.3311 9.53391 44.3311 9.78173V11.2176C44.3311 11.4654 44.532 11.6663 44.7798 11.6663H46.2157C46.4635 11.6663 46.6644 11.4654 46.6644 11.2176V9.78173C46.6644 9.53391 46.4635 9.33301 46.2157 9.33301H44.7798ZM2.33215 23.7816C2.33215 23.5338 2.53305 23.3329 2.78087 23.3329H4.21677C4.46459 23.3329 4.66549 23.5338 4.66549 23.7816V25.2175C4.66549 25.4653 4.46459 25.6662 4.21677 25.6662H2.78087C2.53305 25.6662 2.33215 25.4653 2.33215 25.2175V23.7816ZM7.44771 23.3329C7.19989 23.3329 6.99899 23.5338 6.99899 23.7816V25.2175C6.99899 25.4653 7.19989 25.6662 7.44771 25.6662H8.88361C9.13143 25.6662 9.33233 25.4653 9.33233 25.2175V23.7816C9.33233 23.5338 9.13143 23.3329 8.88361 23.3329H7.44771ZM11.6658 23.7816C11.6658 23.5338 11.8667 23.3329 12.1146 23.3329H13.5505C13.7983 23.3329 13.9992 23.5338 13.9992 23.7816V25.2175C13.9992 25.4653 13.7983 25.6662 13.5505 25.6662H12.1146C11.8667 25.6662 11.6658 25.4653 11.6658 25.2175V23.7816ZM16.7814 23.3329C16.5336 23.3329 16.3327 23.5338 16.3327 23.7816V25.2175C16.3327 25.4653 16.5336 25.6662 16.7814 25.6662H18.2173C18.4651 25.6662 18.666 25.4653 18.666 25.2175V23.7816C18.666 23.5338 18.4651 23.3329 18.2173 23.3329H16.7814ZM20.9995 23.7816C20.9995 23.5338 21.2004 23.3329 21.4482 23.3329H22.8841C23.132 23.3329 23.3329 23.5338 23.3329 23.7816V25.2175C23.3329 25.4653 23.132 25.6662 22.8841 25.6662H21.4482C21.2004 25.6662 20.9995 25.4653 20.9995 25.2175V23.7816ZM26.1151 23.3329C25.8673 23.3329 25.6664 23.5338 25.6664 23.7816V25.2175C25.6664 25.4653 25.8673 25.6662 26.1151 25.6662H27.551C27.7988 25.6662 27.9997 25.4653 27.9997 25.2175V23.7816C27.9997 23.5338 27.7988 23.3329 27.551 23.3329H26.1151ZM30.3332 23.7816C30.3332 23.5338 30.5341 23.3329 30.7819 23.3329H32.2178C32.4656 23.3329 32.6665 23.5338 32.6665 23.7816V25.2175C32.6665 25.4653 32.4656 25.6662 32.2178 25.6662H30.7819C30.5341 25.6662 30.3332 25.4653 30.3332 25.2175V23.7816ZM35.4488 23.3329C35.2009 23.3329 35 23.5338 35 23.7816V25.2175C35 25.4653 35.2009 25.6662 35.4488 25.6662H36.8847C37.1325 25.6662 37.3334 25.4653 37.3334 25.2175V23.7816C37.3334 23.5338 37.1325 23.3329 36.8847 23.3329H35.4488ZM39.6643 23.7816C39.6643 23.5338 39.8652 23.3329 40.113 23.3329H41.5489C41.7967 23.3329 41.9976 23.5338 41.9976 23.7816V25.2175C41.9976 25.4653 41.7967 25.6662 41.5489 25.6662H40.113C39.8652 25.6662 39.6643 25.4653 39.6643 25.2175V23.7816ZM44.7798 23.3329C44.532 23.3329 44.3311 23.5338 44.3311 23.7816V25.2175C44.3311 25.4653 44.532 25.6662 44.7798 25.6662H46.2157C46.4635 25.6662 46.6644 25.4653 46.6644 25.2175V23.7816C46.6644 23.5338 46.4635 23.3329 46.2157 23.3329H44.7798Z" fill="white" fill-opacity="0.5"/>
		<mask id="path-6-inside-1" fill="white">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M22.1432 14.9121C21.4405 15.5522 20.9995 16.4747 20.9995 17.5001C20.9995 19.4331 22.5665 21.0001 24.4995 21.0001C26.4325 21.0001 27.9995 19.4331 27.9995 17.5001C27.9995 16.494 27.575 15.5871 26.8954 14.9487"/>
		</mask>
		<path d="M21.5388 14.2487C20.6573 15.0517 20.1021 16.2117 20.1021 17.5001H21.8969C21.8969 16.7376 22.2237 16.0528 22.7475 15.5755L21.5388 14.2487ZM20.1021 17.5001C20.1021 19.9287 22.0709 21.8975 24.4995 21.8975V20.1027C23.0622 20.1027 21.8969 18.9375 21.8969 17.5001H20.1021ZM24.4995 21.8975C26.9281 21.8975 28.8969 19.9287 28.8969 17.5001H27.1021C27.1021 18.9375 25.9369 20.1027 24.4995 20.1027V21.8975ZM28.8969 17.5001C28.8969 16.2361 28.3625 15.0955 27.5098 14.2946L26.2809 15.6028C26.7875 16.0787 27.1021 16.7519 27.1021 17.5001H28.8969Z" fill="#D80915" mask="url(#path-6-inside-1)"/>
		<rect x="23.3342" y="16.3333" width="2.33333" height="4.66667" rx="0.897436" fill="#D80915"/>
		</g>
		</svg>
		<svg id="spain" width="49" height="35" viewBox="0 0 49 35" fill="none" xmlns="http://www.w3.org/2000/svg">
		<rect width="49" height="35" rx="2.64865" fill="white"/>
		<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="49" height="35">
		<rect width="49" height="35" rx="2.64865" fill="white"/>
		</mask>
		<g mask="url(#mask0)">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M0 9.33333H49V0H0V9.33333Z" fill="#DD172C"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M0 34.9998H49V25.6665H0V34.9998Z" fill="#DD172C"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M0 25.6663H49V9.33301H0V25.6663Z" fill="#FFD133"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M12.8346 16.3331H15.1679V17.4998H12.8346V16.3331Z" fill="#FFEDB1"/>
		<path d="M10.4365 16.0865C10.415 15.8292 10.6181 15.6084 10.8764 15.6084H14.7907C15.0489 15.6084 15.2521 15.8292 15.2306 16.0865L14.8619 20.5112C14.8047 21.1976 14.2309 21.7256 13.5421 21.7256H12.1249C11.4362 21.7256 10.8624 21.1976 10.8052 20.5112L10.4365 16.0865Z" stroke="#A41517" stroke-width="0.882883"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M10.4989 17.5H15.1656V18.6667H13.9989L12.8322 21L11.6656 18.6667H10.4989V17.5Z" fill="#A41517"/>
		<rect x="6.99927" y="13.9998" width="2.33333" height="8.16667" rx="0.882883" fill="#A41517"/>
		<rect x="16.3342" y="13.9998" width="2.33333" height="8.16667" rx="0.882883" fill="#A41517"/>
		<path d="M10.4989 13.4325C10.4989 12.4573 11.2895 11.6667 12.2647 11.6667H13.3998C14.375 11.6667 15.1656 12.4573 15.1656 13.4325V13.5586C15.1656 13.8024 14.9679 14.0001 14.7241 14.0001H10.9403C10.6965 14.0001 10.4989 13.8024 10.4989 13.5586V13.4325Z" fill="#A41517"/>
		</g>
		</svg>
		<svg id="up" width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M9.34767 1.3828C9.94736 0.663167 11.0526 0.663167 11.6523 1.3828L19.9498 11.3397C20.7639 12.3167 20.0692 13.8 18.7974 13.8L2.20256 13.8C0.930805 13.8 0.236072 12.3167 1.05023 11.3397L9.34767 1.3828Z" fill="#F44A45"/>
		</svg>
		<svg id="down" width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M11.6523 12.6172C11.0526 13.3368 9.94736 13.3368 9.34767 12.6172L1.05023 2.66028C0.236074 1.68329 0.930808 0.200002 2.20257 0.200002L18.7974 0.200003C20.0692 0.200003 20.7639 1.68329 19.9498 2.66028L11.6523 12.6172Z" fill="#128E5A"/>
		</svg>
		<svg id="facebook" width="11" height="21" viewBox="0 0 11 21" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M10.7736 0.290178V3.53125H8.8461C8.14224 3.53125 7.66753 3.67857 7.422 3.97321C7.17646 4.26786 7.05369 4.70982 7.05369 5.29911V7.61942H10.6508L10.172 11.2533H7.05369V20.5714H3.297V11.2533H0.166417V7.61942H3.297V4.94308C3.297 3.42076 3.72259 2.24219 4.57378 1.40737C5.42497 0.564359 6.55853 0.142856 7.97445 0.142856C9.17758 0.142856 10.1106 0.191963 10.7736 0.290178Z" fill="#035755"/>
		</svg>
		<svg id="youtube" width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M9.58121 10.9911L15.5232 7.92187L9.58121 4.81585V10.9911ZM11.8524 0.408482C13.2274 0.408482 14.5533 0.428943 15.8301 0.469865C17.1151 0.502603 18.0563 0.539434 18.6538 0.580357L19.55 0.629464C19.5581 0.629464 19.6277 0.637648 19.7587 0.654017C19.8896 0.662202 19.9837 0.674479 20.041 0.690847C20.0983 0.699032 20.1924 0.715401 20.3234 0.739954C20.4625 0.764508 20.5812 0.797246 20.6794 0.838169C20.7776 0.879092 20.8922 0.932291 21.0232 0.997767C21.1541 1.06324 21.281 1.14509 21.4038 1.2433C21.5265 1.33333 21.6452 1.43973 21.7598 1.5625C21.8089 1.61161 21.8703 1.68936 21.9439 1.79576C22.0258 1.89397 22.1445 2.13132 22.3 2.50781C22.4637 2.8843 22.5741 3.29762 22.6314 3.74777C22.6969 4.27158 22.746 4.83222 22.7788 5.42969C22.8197 6.01897 22.8442 6.4814 22.8524 6.81696V7.30804V8.97768C22.8606 10.1644 22.7869 11.3512 22.6314 12.5379C22.5741 12.9881 22.4718 13.3973 22.3245 13.7656C22.1772 14.1257 22.0462 14.3754 21.9317 14.5145L21.7598 14.7232C21.6452 14.846 21.5265 14.9565 21.4038 15.0547C21.281 15.1447 21.1541 15.2225 21.0232 15.2879C20.8922 15.3452 20.7776 15.3943 20.6794 15.4353C20.5812 15.4762 20.4625 15.5089 20.3234 15.5335C20.1924 15.558 20.0942 15.5785 20.0288 15.5949C19.9715 15.6031 19.8773 15.6153 19.7464 15.6317C19.6236 15.6399 19.5581 15.644 19.55 15.644C17.4956 15.7995 14.9298 15.8772 11.8524 15.8772C10.1582 15.8609 8.68501 15.8363 7.43277 15.8036C6.18873 15.7626 5.37027 15.7299 4.97742 15.7054L4.37585 15.6562L3.93389 15.6071C3.63925 15.5662 3.41417 15.5253 3.25867 15.4844C3.11135 15.4435 2.90264 15.3575 2.63255 15.2266C2.37065 15.0956 2.14148 14.9278 1.94505 14.7232C1.89594 14.6741 1.83047 14.6004 1.74862 14.5022C1.67496 14.3958 1.55629 14.1544 1.3926 13.7779C1.23709 13.4014 1.13069 12.9881 1.0734 12.5379C1.00792 12.0141 0.954724 11.4576 0.913801 10.8683C0.881063 10.2708 0.860602 9.80432 0.852417 9.46875V8.97768V7.30804C0.844232 6.12128 0.917893 4.93452 1.0734 3.74777C1.13069 3.29762 1.233 2.89248 1.38032 2.53237C1.52764 2.16406 1.65859 1.91034 1.77318 1.7712L1.94505 1.5625C2.05963 1.43973 2.17831 1.33333 2.30108 1.2433C2.42385 1.14509 2.55071 1.06324 2.68166 0.997767C2.81261 0.932291 2.92719 0.879092 3.02541 0.838169C3.12362 0.797246 3.23821 0.764508 3.36916 0.739954C3.5083 0.715401 3.60651 0.699032 3.6638 0.690847C3.72109 0.674479 3.81521 0.662202 3.94617 0.654017C4.07712 0.637648 4.14669 0.629464 4.15487 0.629464C6.20919 0.482143 8.77504 0.408482 11.8524 0.408482Z" fill="#F44A45"/>
		</svg>
		<svg id="vimeo" width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M20.1131 4.50223C20.0313 6.43378 18.6726 9.09784 16.0372 12.4944C13.3118 16.0219 11.0119 17.7857 9.13766 17.7857C7.97546 17.7857 6.99332 16.7094 6.19123 14.5569C5.83111 13.2474 5.29093 11.2749 4.5707 8.63951C3.98141 6.49516 3.33893 5.42299 2.64324 5.42299C2.49592 5.42299 1.9762 5.734 1.08409 6.35603L0.138777 5.1529C0.335205 4.98103 0.777169 4.58817 1.46467 3.97433C2.15217 3.35231 2.68416 2.8776 3.06065 2.55022C4.33744 1.42076 5.32367 0.823288 6.01936 0.757811C6.79689 0.684151 7.423 0.913318 7.89771 1.44531C8.37241 1.96912 8.70388 2.79985 8.89213 3.9375C9.25224 6.28646 9.52233 7.81287 9.70239 8.51674C10.1525 10.5547 10.6436 11.5737 11.1756 11.5737C11.593 11.5737 12.2232 10.9148 13.0662 9.5971C13.8929 8.27939 14.3389 7.27269 14.4044 6.57701C14.5108 5.43936 14.0647 4.87053 13.0662 4.87053C12.5997 4.87053 12.1046 4.97693 11.5807 5.18973C12.5629 1.97321 14.4412 0.409969 17.2158 0.499999C19.2701 0.565476 20.2359 1.89955 20.1131 4.50223Z" fill="#035755"/>
		</svg>
		<svg id="twitter" width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M19.8922 2.15178C19.3438 2.95387 18.6809 3.63728 17.9033 4.20201C17.9115 4.31659 17.9156 4.48847 17.9156 4.71763C17.9156 5.78162 17.7601 6.84561 17.4491 7.9096C17.1381 8.9654 16.6634 9.98028 16.025 10.9542C15.3948 11.9282 14.6418 12.7917 13.7661 13.5446C12.8903 14.2894 11.8345 14.8869 10.5987 15.3371C9.36279 15.779 8.04099 16 6.63325 16C4.41524 16 2.38548 15.4066 0.543963 14.2199C0.830421 14.2526 1.14962 14.269 1.50155 14.269C3.34307 14.269 4.98407 13.7042 6.42454 12.5748C5.56517 12.5584 4.79582 12.2965 4.11651 11.7891C3.43719 11.2734 2.97067 10.6187 2.71695 9.82478C2.98704 9.8657 3.23667 9.88616 3.46584 9.88616C3.81777 9.88616 4.16561 9.84115 4.50936 9.75112C3.5927 9.56287 2.83154 9.10863 2.22588 8.38839C1.62841 7.65997 1.32968 6.81696 1.32968 5.85937V5.81027C1.88622 6.12128 2.4837 6.28906 3.12209 6.31362C2.58191 5.9535 2.15222 5.48289 1.83303 4.90178C1.51383 4.32068 1.35423 3.69048 1.35423 3.01116C1.35423 2.29092 1.53429 1.62388 1.89441 1.01004C2.88474 2.22954 4.08786 3.20759 5.50378 3.9442C6.92789 4.67262 8.45021 5.07775 10.0707 5.1596C10.0053 4.84859 9.97253 4.54576 9.97253 4.25112C9.97253 3.15439 10.3572 2.22135 11.1266 1.45201C11.9041 0.674479 12.8412 0.285714 13.9379 0.285714C15.0838 0.285714 16.0495 0.703125 16.8353 1.53795C17.7274 1.36607 18.5663 1.04687 19.352 0.580357C19.0492 1.52158 18.4681 2.25 17.6087 2.76562C18.3699 2.68378 19.131 2.47917 19.8922 2.15178Z" fill="#035755"/>
		</svg>
	</svg>
block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")