.cards {
  &__card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    height: 550px;
    width: 400px;
    border-radius: 10px;
    margin-bottom: 20px;

    img {
      padding-top: 15%;
      padding-bottom: 10%;
    }

    .text__titleName {
      font-weight: 600;
      font-size: 36px;
    }

    .text__desc {
      font-size: 18px;
      padding-right: 7%;
      padding-left: 7%;
    }
  }
}