include ../text__titleName/text__titleName
include ../text__blockName/text__blockName
include ../text__desc/text__desc

mixin cards__card(img, title, desc)
    div.cards__card
        img(src=img)
        +text__titleName(title)
        +text__desc(desc)