.contact {
  background: #FFF8F8;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 150px;

  .title {
    color: #0C6C44;
    font-weight: 700;
    font-size: 64px;
    padding-top: 20px;
  };

  .emailContainer{
    display: flex;
    justify-content: center;
    padding-top: 20px;

    .emailForm {
      display: flex;
      justify-content: space-between;
      background: #FFFFFF;
      border-radius: 50px;
      width: 700px;
      height: 100px;

      .email {
        padding-left: 50px;
        border-radius: 50px;
        border: none;
        outline: none;
      }

      .submit {
        background: rgb(250, 86, 82);
        align-self: center;
        border: none;
        border-radius: 50px;
        height: 75%;
        width: 150px;
        margin-right: 20px;
        color: #FFFFFF;
        font-size: 24px;
      }
    }
  }
}