.footer {
  background: #FFF8F8;
  padding: 0 15%;
  .first-line {
    display: flex;
    justify-content: space-between;

    &__links {
      display: flex;
      align-self: center;
      list-style: none;

      .footer__link {
        color: rgb(3, 87, 85);
        text-decoration: none;
        padding: 0 20px;
        font-size: 20px;
      }
    }

    .social {
      align-self: center;

      .socIcon {
        margin-left: 10px;
      }
    }
  }

  .second-line {
    padding: 20px 0;
    text-align: center;
    color: #415E56;
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .footer .first-line{
    flex-wrap: wrap;
    justify-content: center;

    &__links {
      flex-wrap: wrap;
      justify-content: center;

      & > * {
        margin: 10px 0;
      }
    }

    & > * {
      margin: 10px 0;
    }
  }
}

@media (max-width: 395px) {
    .contact .emailContainer .emailForm {
      flex-wrap: wrap;
      justify-content: center;
      height: 120px;

      .email {
        padding: 0;
      }
    }
}