footer.footer
    div.first-line
        div.image
            img(src="./img/brand.png" alt="COVID-19" width="")
        ul(class="first-line__links")
            li
                a(class="footer__link" href="#overview") Overview
            li
                a(class="footer__link" href="#symptoms") Symptoms
            li
                a(class="footer__link" href="#prevention") Prevention
            li
                a(class="footer__link" href="#treatment") Treatment
        div.social
            svg(width="23" height="20" class="socIcon")
                use(xlink:href= "#facebook")
            svg(width="23" height="20" class="socIcon")
                use(xlink:href= "#youtube")
            svg(width="23" height="20" class="socIcon")
                use(xlink:href= "#vimeo")
            svg(width="23" height="20" class="socIcon")
                use(xlink:href= "#twitter")
    div.second-line
        div.line 2020 @ All rights reserved by pixelspark.co