include ../../components/text__titleName/text__titleName
include ../../components/text__blockName/text__blockName
include ../../components/text__desc/text__desc

div.text
    +text__blockName("Covid-19")
    +text__titleName("Symptoms")
    +text__desc("Corona viruses are a type of virus. There are many different kinds, and some cause disease. " +
    "A newly identified type has caused a recent outbreak of respiratory")
img(src="img/symptoms.png")
