mixin step(numberSrc, title, desc, imgSrc)
    div.whatToDo__step
        div.whatToDo__text
            img(src=numberSrc)
            div.text
                div.text__titleName= title
                div.text__desc= desc
        div.whatToDo__img
            img(src=imgSrc)