.whatToDo__step {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 20px 13%;

  .text {
    margin-right: 10%;
    .text__desc {
      line-height: 2;
    }
  }

  &:nth-child(2n-1) {
    .whatToDo__text{
      order: 1;
      padding-left: 50px;
    }
    .text {
      margin-right: auto;
    }
  }
}

@media (max-width: 1024px) {
  .whatToDo__step {
    flex-wrap: wrap;
    justify-content: center;
    &:nth-child(2n-1) {
      .whatToDo__text{
        order: 0;
        padding-left: 0;
      }
    }
  }
}

@media (max-width: 500px) {
  .whatToDo__text {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    img {
      padding: 0;
    }
  }
}