@font-face {
  font-family: "Gelion";
  src: url("../../fonts/Gelion-Regular.woff2") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RedHatDisplay";
  src: url("../../fonts/RedHatDisplay-Regular.woff2") format("truetype");
  font-style: normal;
  font-weight: normal;
}