h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1110));
}

body {
    font-family: Gelion;
}

.contagion, .symptoms, .whatToDo {
    .text {
        padding: 0 10%;
    }

    text-align: center;

    .text__blockName {
        font-size: 29px;
    }

    .text__titleName {
        font-size: 50px;
    }

    .text__desc {
        font-size: 18px;
    }
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgb(116, 122, 128);
    border-radius: 20px;
}