mixin country(flagSrc, countryName, number, upOrDown)
    div.country
        div.name
            svg(height="35" width="49" class="flag")
                use(xlink:href= flagSrc)
            span= countryName
        div.count
            span= number
            svg(height="14" width="21" class="arrow")
                use(xlink:href= upOrDown)
