.country {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .name {
    display: flex;
  }

  .count{
    display: flex;
    font-size: 24px;
  }
}

.flag {
  margin-right: 20px;
  border-radius: 5px;
}

.arrow {
  margin-left: 10px;
  align-self: center;
}